<div class="col-md-12 mb-3 text-center">
    <button id="btnconfirm" class="btn btn-outline-primary mr-2"><strong>Aprobar</strong></button>
    <button id="btnreject" class="btn  btn-outline-danger"><strong>Rechazar</strong></button>
</div>

<script src="~/JS/Botones/Aprobar_Rechazar.js"></script>