@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="row">
    <div class="col-md-12 ">
        <fieldset>
            <legend>
                <strong>Descuentos</strong>
            </legend>
            <div class="row">

                @Html.Partial("~/Views/Shared/View_Descuentos.cshtml")

                @Html.Partial("~/Views/Shared/ViewDetailDcto.cshtml")

            </div>


        </fieldset>


        @Html.Partial("~/Views/Shared/View_btnSave.cshtml")

    </div>
</div>

@Html.Partial("~/Views/Shared/ViewMessages.cshtml")
<script src="~/JS/Solicitudes.js"></script>
<script src="~/JS/MotivosSolicitudes.js"></script>