@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="row">
    <div class="col-md-12 ">
        <fieldset>
            <legend>
                <strong>Descuentos</strong>
            </legend>
            <div class="row">
                <fieldset>
                    <legend>
                        <strong>Datos Basicos del Descuentos</strong>
                        <hr />
                    </legend>
                    <div class="row" validarcampos="true">
                        <div class="col-md-6">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <strong>Tipo Solicitud Descuento</strong>
                                    </span>
                                </div>
                                <select id="cmbtpsol" class="form-control" required></select>
                            </div>


                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <strong>Fecha Inicial</strong>
                                    </span>
                                </div>
                                <input id="txtfecini" type="date" class="form-control" required>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <strong>Cliente</strong>
                                    </span>
                                </div>
                                <input id="txtcliente" type="text" class="form-control" required>
                                <input id="lblcliente" type="hidden" />
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <strong>Fecha Final</strong>
                                    </span>
                                </div>
                                <input id="txtfecfin" type="date" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="card-footer text-center">
                                <strong>Justificación del Descuento</strong>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <textarea class="form-control" required></textarea>
                        </div>

                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <strong>Detalle del Descuento</strong>
                    </legend>
                    <div id="div-detalle" class="row">
                        <div class="col-md-5">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <strong>Producto</strong>
                                    </span>
                                </div>
                                <input id="txtproduct" type="text" placeholder="Código o Descripción" class="form-control" required>
                                <input id="lblcodprod" type="hidden" />
                            </div>

                        </div>

                        <div class="col-md-5">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <strong>Descuento en Porcentaje(%)</strong>
                                    </span>
                                </div>
                                <input id="txtporc" type="number" class="form-control" placeholder="Solo Numeros %" required>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button id="btnadd" class="btn btn-block btn-outline-primary">Agregar</button>
                        </div>

                        <div class="col-md-12">
                            <div id="grid-add-descuento">

                            </div>
                        </div>

                    </div>
                </fieldset>

            </div>


        </fieldset>


        @Html.Partial("~/Views/Shared/View_btnSave.cshtml")

    </div>
</div>

@Html.Partial("~/Views/Shared/ViewMessages.cshtml")
<script src="~/JS/Solicitudes.js"></script>