
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="row m-3">
    <div class="col-md-12">
        @Html.Partial("~/Views/Shared/ViewSubMenu.cshtml")
    </div>
    <div class="col-md-3">
        @Html.Partial("~/Views/Shared/ViewMenu.cshtml")
    </div>
</div>
@Html.Partial("~/Views/Shared/ViewFooter.cshtml")