<fieldset>
    <legend>
        <strong>@ViewBag.Title</strong>
    </legend>
    <div class="row">
        <div class="col-12">
            <div id="div-grid-aprobacion"></div>
        </div>
    </div>
</fieldset>

