
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="row">
    <div class="col-md-12 ">
        <fieldset>
            <legend>
                <strong>Notas Comerciales</strong>
            </legend>
            <div class="row">
                @Html.Partial("~/Views/Shared/Trade/ViewHeader.cshtml")
                @Html.Partial("~/Views/Shared/Trade/ViewDetail.cshtml")
            </div>
            <div class="m-3">
                @Html.Partial("~/Views/Shared/View_btnSave.cshtml")
            </div>
        </fieldset>


    </div>
</div>

@Html.Partial("~/Views/Shared/ViewMessages.cshtml")
<script src="~/JS/Trade/Index.js"></script>

