@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="row">
    <div class="col-md-12 ">
        <fieldset>
            <legend>
                <strong>Configuración de Usuarios</strong>
                <hr />
            </legend>
            <div class="row">
                <div id="div-grid-usuarios"></div>
            </div>
        </fieldset>
    </div>

</div>
<script src="~/JS/Config.js"></script>