@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="row">
    <div class="col-md-12 ">
        <fieldset>
            <legend>
                <strong>Configuración de Vendedores</strong>
                <hr />
            </legend>
            <div class="row">
                @Html.Partial("~/Views/Shared/ViewUsuarios.cshtml")
            </div>
        </fieldset>
    </div>
        
</div>
<script src="~/JS/Descuentos.js"></script>