@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="row">
    <div class="col-md-12">
        @Html.Partial("~/Views/Shared/ViewSubMenu.cshtml")
    </div>
</div>
@Html.Partial("~/Views/Shared/ViewFooter.cshtml")
<script src="~/JS/Descuentos.js"></script>