@{
    ViewBag.Title = "Home Page";
}
<div class="row m-3">
    <div class="card text-center m-3" style="width:40%;margin-top:5em!important; margin-left:65%!important;">
        <div class="card-header">
            <strong>Inicio de sesión - Descuentos</strong>
        </div>
        <div class="card-body">
            <div class="center-block">
                <img src="~/Image/LogoEmpresa.png" />
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                        <input id="txtuser" type="text" class="form-control" placeholder="Username"  required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"></span>
                        </div>
                        <input id="txtpsw" type="password" class="form-control" placeholder="Password"  required>
                    </div>
                </div>
                <div class="col-md-6">
                    <button id="btningresar" class="btn btn-block btn-success mb-3">Ingresar</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-block btn-info mb-3">Registrar</button>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <strong><label style="color:darkblue!important;">GLORIA COLOMBIA S.A.</label><br><a href="#" id="a-psw">Olvide mi Contraseña</a></strong>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/ViewMessages.cshtml")
<script src="~/JS/Login.js"></script>