
@{
    ViewBag.Title = "AprobGerencias";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="row m-3">

    <div class="col-md-12 ">
        <fieldset>
            <legend>
                <strong>Listado de Aprobación</strong>
            </legend>
            <div class="col-sm-12">
                <div id="div-aprob-inventario"></div>
            </div>
            <div class="col-sm-12 m-3 text-center">
                <button id="btn-aprob-max" class="btn btn-outline-primary"><strong>Aprobar y Rechazar</strong> </button>
            </div>
        </fieldset>
    </div>
</div>
<script src="~/JS/ListAprobAIMasiva.js"></script>