@{
    ViewBag.Title = "ListInventario";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="row m-3">

    <div class="col-md-12 ">
        <fieldset>
            <legend>
                <strong>Listado de Aprobación</strong>
            </legend>
            <div id="div-detail-inventario"></div>
            <div class="col-sm-12 m-3 text-center">
                <button id="btn-notificar" class="btn btn-outline-primary">Notificar</button>
            </div>
        </fieldset>
    </div>
</div>
<script src="~/JS/ListContabAI.js"></script>

