<div id="div-confirmacion" style="display:none; text-align:center; margin:0 auto;">
    <div>
        <strong>¿Desea guardar este registro?</strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btnsave" class="btn btn-primary ">Guardar</button>
        <button id="btncancel" class="btn btn-danger ">Cancelar</button>
    </div>
</div>

<div id="div-advertencia" style="display:none; text-align:center; margin:0 auto;">
    <div>
        <strong>Debe llenar todos los datos</strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btn-close-advertencia" class="btn btn-danger ">Cerrar</button>
    </div>
</div>

<div id="div-alert-error" style="display:none; text-align:center; margin:0 auto;">
    <div>
        <strong>Por favor verifique usuario y/o contraseña</strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btn-close-alert-error" class="btn btn-danger ">Cerrar</button>
    </div>
</div>

<div id="div-mensaje" style="display:none; text-align:center; margin:0 auto;">
    <div>
        <strong>Espere mientra guarda</strong>
    </div>
</div>
