

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/Descuentos/Index">
        <img src="~/Image/logosplash.jpg" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="div-menu" class="navbar-nav mr-auto"></ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <strong style="color:white!important; font-size:12px!important;">Bienvenido :<label id="lbluser"> </label></strong>
        <a class="btn btn-danger my-2 my-sm-0" href="/Home/Index">Salir</a>
    </form>
</nav>
<script src="~/JS/Navbar.js"></script>