
<div class="list-group">
    <a href="#/noticias"class="list-group-item active text-center" style="text-align:Left!important;">
        <img src="~/Image/LogoEmpresa.png" style="width:24px; height:24px" />&nbsp;&nbsp;&nbsp;<strong>Inicio</strong>
    </a>
    <a href="#"  class="list-group-item  text-center" style="text-align:Left!important;">
        <img src="~/Image/LogoEmpresa.png" style="width:24px; height:24px" />&nbsp;&nbsp;&nbsp;<strong>Administrador</strong>
    </a>
    <a href="#"  class="list-group-item text-center" style="text-align:Left!important;">
        <img src="~/Image/LogoEmpresa.png" style="width:24px; height:24px" />&nbsp;&nbsp;&nbsp;<strong>Descuentos</strong>
    </a>
    <a href="#" class="list-group-item text-center" style="text-align:Left!important;">
        <img src="~/Image/LogoEmpresa.png" style="width:24px; height:24px" />&nbsp;&nbsp;&nbsp;<strong>Empleados</strong>
    </a>
</div>


