<hr />
<footer class="m-3">
    <div class="card-footer text-center">
        <strong> <span class="fa fa-registered">&nbsp;Todos los derechos reservados &nbsp;@DateTime.Now.Year - Gloria Colombia S.A &nbsp;<span class="fa fa-microchip"></span> </span> </strong>   
    </div>
</footer>
