<div class="col-md-12">
    <img src="~/Image/LogoEmpresa.png" width="70" height="70" />
    <div style="float:right;">
        <ul class="list-inline">
            <li class="list-inline-item btn btn-light"><strong>Algo</strong></li>
            <li class="list-inline-item btn  btn-info"><strong>Algo 2</strong></li>
            <li class="list-inline-item btn btn-info"><strong>Algo 3</strong></li>
        </ul>
    </div>
</div>