<div id="div-confirmacion" style="display:none; text-align:center; margin:0 auto;">
     <div>
        <label id="lblmensajerech"></label><strong>¿Desea guardar está solicitud?</strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btnsave" class="btn btn-primary ">Guardar</button>
        <button id="btncancel" class="btn btn-danger ">Cancelar</button>
    </div>
</div>

<div id="div-confirmacion-del-item" style="display:none; text-align:center; margin:0 auto;">
    <input type="hidden" id="lblid"/>
    <div>
        <strong>¿Desea quitar este registro?</strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btnremove" class="btn btn-primary ">Quitar</button>
        <button id="btncancel-item" class="btn btn-danger ">Cancelar</button>
    </div>
</div>

<div id="div-advertencia" style="display:none; text-align:center; margin:0 auto;">
    <div>
        <strong>Debe llenar todos los datos</strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btn-close-advertencia" class="btn btn-danger ">Cerrar</button>
    </div>
</div>

<div id="div-alert-error" style="display:none; text-align:center; margin:0 auto;">
    <div>
        <strong>Por favor verifique usuario y/o contraseña</strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btn-close-alert-error" class="btn btn-danger ">Cerrar</button>
    </div>
</div>

<div id="div-mensaje" style="display:none; text-align:center; margin:0 auto;">
    <div>
        <strong>Guardando información</strong>
    </div>
</div>

<div id="div-mensaje-respuesta" style="display:none; text-align:center; margin:0 auto;">
    <div>
        <strong><label id="lblmessage"></label></strong>
    </div>
    <div style="padding-top:0.5em;">
        <button id="btn-close-message" class="btn btn-danger ">Cerrar</button>
    </div>
</div>
