
<fieldset>
    <legend>
        <strong>Detalle de la Cartera</strong>
    </legend>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <strong>Saldo Actual </strong>
                    </span>
                </div>
                <input id="txtcupodisp" type="text" class="form-control" disabled>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <strong>Días en Mora</strong>
                    </span>
                </div>
                <input id="txtdias" type="number" class="form-control" disabled>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <strong>Hipoteca</strong>
                    </span>
                </div>
                <input id="txthipoteca" type="text"  value="0" class="form-control" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <strong>Total Deuda </strong>
                    </span>
                </div>
                <input id="txtdeuda" type="text" class="form-control" disabled>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <strong>Saldo Vencido </strong>
                    </span>
                </div>
                <input id="txtcupoven" type="number" class="form-control" disabled>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <strong>Pignoración</strong>
                    </span>
                </div>
                <input id="txtPignoración" type="number" value="0" class="form-control" disabled>
            </div>
        </div>




    </div>
</fieldset>
