
@{
    ViewBag.Title = "Aprobaciones";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="col-md-12 ">
    <fieldset>
        <legend>
            <strong>Aprobaciónes de Cartera</strong>
        </legend>
        <div id="grid-autorizaciones"></div>
    </fieldset>
    <script src="~/JS/AprobacionesCartera.js"></script>
    </div>