
@{
    ViewBag.Title = "FileUpInfo";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="row m-3">
    <div class="col-sm-12">
        <div id="upload"></div>
    </div>
</div>
<link href="~/CSS/jquery.plupload.queue.css" rel="stylesheet" />
<script src="~/JSLIB/plupload.full.min.js"></script>
<script src="~/JSLIB/jquery.plupload.queue.min.js"></script>
<script src="~/JSLIB/es.js"></script>
<script src="~/JS/Cartera.js"></script>
